@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-Blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

html {
  font-family: "Bai Jamjuree";
}

body {
  margin: 0;
  font-family: "Bai Jamjuree";
  text-align: center;
}

.p-1 {
  padding: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
}

.grey-text {
  color: var(--grayish-blue);
}

.header-text {
  color: var(--dark-grayish-blue);
}

.ios-button {
  background-color: var(--strong-cyan);
  box-shadow: 0 2px 1px var(--grayish-blue);
}

.mac-button {
  background-color: var(--light-Blue);
  box-shadow: 0 2px 1px var(--dark-grayish-blue);
}

.download-button {
  outline: none;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 1rem;
  margin-top: 10px;
  font-weight: 600;
  font-family: "Bai Jamjuree";
  width: 100%;
  cursor: pointer;
}

.header {
  background: url("images/bg-header-mobile.png") no-repeat;
  width: 100%;
  text-align: center;
}
/* 
.header__desc {
  color: var(--grayish-blue);
} */

.track-section,
.access-section,
footer,
.download-section {
  margin-top: 5rem;
}

.track-section img,
.access-section__image {
  width: 100%;
}

.client-section__list__item {
  margin-top: 4rem;
}

.footer {
  background-color: ghostwhite;
}

.footer__footer-logo {
  width: 20%;
}

.footer__list {
  margin-bottom: 2rem;
  color: var(--dark-grayish-blue);
}

.footer__list__item {
  margin: 2rem;
}

.footer__social-media-list {
  display: flex;
  align-items: revert-layer;
  justify-content: space-evenly;
  margin: 1rem;
}

@media (min-width: 20rem) {
  .header {
    background-image: url("images/bg-header-desktop.png");
  }
}

@media (min-width: 40rem) {
  .button-group {
    display: flex;
    justify-content: space-between;
  }

  .download-button {
    width: 47%;
  }

  .header__desc {
    width: 60%;
    margin: auto;
  }

  .track-section__header {
    width: 50%;
    margin: auto;
  }

  .track-section__section {
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }

  .track-section__section__list {
    text-align: left;
    width: 30%;
    margin-left: 6rem;
  }

  .track-section__section__img-container {
    margin-left: -3rem;
    width: 44%;
  }
  .track-section__section__img {
    width: 50%;
  }

  .access-section__image {
    /* width: auto; */
    margin-top: 4rem;
  }

  .access-section__list {
    display: flex;
    margin: 5rem auto 0;
    width: 80%;
  }

  .access-section__list__item {
    width: 31%;
    margin: 0 auto;
  }

  .access-section__list__item--img {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .client-section {
    max-width: 80%;
    margin: auto;
  }

  .client-section__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .download-section {
    width: 60%;
    margin: 5rem auto 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5rem;
  }

  .footer_footer-logo-container {
    width: 20%;
  }

  .footer__footer-logo {
    width: 40%;
  }

  .footer__list {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
  }

  .footer__social-media-list {
    justify-content: space-between;
    width: 20%;
  }
}

@media (min-width: 60rem) {
  .access-section__image {
    width: auto;
  }
}
